window {
    font-family: terminus, monospace;
    font-size: 16pt;
    color: #ebdbb2;
    /* text */
    background-color: rgba(40, 40, 40, 0.76);
}
button {
    border-style: solid;
    border-radius: 0px;
    border-width: 2px;
    border-color: #ebdbb2;
    background-color: rgba(40, 40, 40, 0.76);
    margin: 2px;
    padding: 2px 6px;
    font-size: 0.85em;
    color: #ebdbb2;
    transition:
        box-shadow 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    min-width: unset;
    min-height: unset;
}
button:hover {
    background-color: rgba(104, 157, 106, 0.92);
    color: #282828;
}
button:focus {
    background-color: #ebdbb2;
    color: #282828;
}
